 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 900px;
    overflow: hidden;
    background-color: #3f51b5;
    height:80px;
}

li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
    padding: 40px 16px 40px 0px;
    text-decoration: none;
    font-size: 13px;
    font-family: Poppins,sans-serif;
}

li a:hover {
    background-color: #203cdb;
}
 /* background-color: #3f51b5; */
 /* #dc3958 */
 /* #203cdb; */
 body {margin:0;}

 .navbar {
   overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 0;
   width: 100%;
 }

 .navbar a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 .navbar a:hover {
   background: #ddd;
   color: black;
 }

 .main {
   padding: 16px;
   margin-top: 30px;
   height: 1500px; /* Used in this example to enable scrolling */
 }
