
<div style="background-image:url('http://eskipaper.com/images/nature-backgrounds-6.jpg')">
<div class="main">
  <h1 style="color:yellow;">Fixed Top Menu</h1>
  <h2 style="color:yellow;">Scroll this page to see the effect</h2>
  <h2 style="color:yellow;">The navigation bar will stay at the top of the page while scrolling</h2>

  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
  <p style="color:yellow;">Some text some text some text some text..</p>
</div>
</div>
